*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    min-height: 80vh;
    transform-style: preserve-3d;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}

.watch{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch img{
    width: 20rem;
    z-index: 2;
    transition: all 0.5s ease-out;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(to right, rgba(196, 195, 194, 0.267) , rgba(35, 36, 35, 0.247));
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size: 2.3rem;
    transition: all 0.5s ease-out;
}

.info h3{
    font-size: 1.2rem;
    padding: 2rem  0rem;
    font-weight: lighter;
    transition: all 0.5s ease-out;
}

.color{
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-out;
}

.color button{
    padding: 20px;
    border-radius: 50%;
    border: none;
    box-shadow:  0px 5px 10px rgba(0,0,0,0.2);
    text-decoration: none;
    cursor: pointer;
}

.btn1{
    background: rgba(63,83,126,255) ;
}

.btn2{
    background: rgba(161,161,161,255);
}

.btn3{
    background:  rgba(35,36,35,255);
}

.btn4{
    background: rgba(199,50,70,255);
}

button.active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
}

.purchase{
    margin: 3rem 0rem 2rem 0rem ;
}

.purchase button{
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0rem;
    background: rgb(22, 22, 22);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 30px;
    transition: all 0.5s ease-out;
}